<a href="https://colab.research.google.com/github/k3my/Aventura/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aula 1

#**aula2**   ü§ò üòù ‚ùó

In [1]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")

Os pontos totais do Rodrigo s√£o 24

In [4]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 6 * livro_infantil
pontos_rodrigo_ana = pontos_rodrigo + pontos_ana

print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais de ana s√£o {pontos_ana}")
print(f"Os pontos totais de rodrigo e ana s√£o {pontos_rodrigo_ana}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais de ana s√£o 52
Os pontos totais de rodrigo e ana s√£o 76

#**aula 3 tabuada** 1 ‚ùå 4

In [ ]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)